/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /*Insira a variavel das outras cores inspecionando o modelo do figma*/
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-bege: #f3eeea;
  --cor-primaria: #e3e3e3;
  --verde-claro: #afc8ad;
  --verde-escuro: #4f6f52;
  --cor-de-link: #000;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-bege);
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu {
  display: flex;
  justify-content: space-around;
}

ul.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: space-around;
}

section.menu header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.6rem;
}

/*Sessão Title*/

section.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

div.title__div {
  display: flex;
  width: 79.2%;
  align-items: center;
  justify-content: space-around;
}

#sobremim {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

h2.title__bio {
  font-size: 4rem;
}

h3.title__subsection {
  font-size: 1.8rem;
}

ul.title__network {
  background-color: var(--verde-claro);
  border-radius: 1rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.3rem;
}

img.title__profile {
  height: 27.5rem;
}

/*Sessão About*/

section.about {
  background-color: var(--verde-claro);
  display: flex;
  padding-left: 3rem;
}

div.about__container {
  margin: 1rem;
  width: 50%;
}

h3.about__title {
  font-size: 2rem;
}

p.about__paragraph {
  font-size: 1.5rem;
}

section.skills {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

h3.skills__title {
    font-size: 1.4rem;
}

div.skills__line {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

div.skills__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 10rem;
  width: 10rem;
  background-color: #ffffff;
}

/*Sessão Hobbies*/

section.hobbies {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

h3.hobbies__title {
    font-size: 1.4rem;
}


div.hobbies__line {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

div.hobbies__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 10rem;
  width: 10rem;
  background-color: #ffffff;
}

/* Experiência Acadêmica*/

section.academic {
}

/* experiência*/

section.experience {
}

/*Contato*/

section.formcontato {
}

/*footeer*/

section.footer {
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {
  /* Menu */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Experiências acadêmicas*/

  /*Expeirência profissional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sessão sobre*/

  /*Skills*/

  /*Hobbies*/

  /*Formação Acadêmica*/

  /*Experiência Profissional*/

  /*Contato*/

  /*Footer*/
}
